$brand-black: #0b0c0c;
$brand-blue: #005ea5;
$brand-light-blue: #2b8cc4;
$brand-green: #00823b;
$brand-dark-green: #003618;
$brand-grey: #dee0e2;
$brand-dark-grey: #454a4c;

.bg-grey {
  background: $brand-grey;
}